*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Project exclude paths
/myBluetooth/build/
/myBluetooth/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/